<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--正式-->
  <!--<connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source='gift-prod.cmvxuygngrqs.ap-northeast-1.rds.amazonaws.com'; Initial Catalog=Gifts ; User ID = FEDS_DTO ; Password =datBKFfFr* " />
  </connectionStrings>-->
  <!--測試-->
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source='gifts-beta.cmvxuygngrqs.ap-northeast-1.rds.amazonaws.com'; Initial Catalog=Gifts ; User ID = FEDS_DTO ; Password =datBKFfFr* " />
  </connectionStrings>
  <appSettings>
    <add key="SendMail" value="N"/>
    <add key="DeBugYear" value="N"/>
    <add key="DeBUG" value="Y"/>
    <add key="startDate" value="2024/01/01"/>
    <add key="endDate" value="2025/01/01"/>
  </appSettings>
</configuration>